In [8]:
#importing dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [13]:
#loading the data
data_set= pd.read_csv("diabetes.csv")

In [15]:
data_set.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [16]:
#geting rows and columns of dataset
data_set.shape

(768, 9)

In [18]:
#getting statistical information for dataset
data_set.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [20]:
data_set["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [21]:
# 1 means patient is positive
#0 means patient is negative 

#gettng meant of Outcome
data_set.groupby("Outcome").mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [24]:
#separating 
x = data_set.drop(columns = "Outcome",axis=1)
y = data_set["Outcome"]

In [28]:
x.head(3)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32

In [29]:
y.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [30]:
#standardizing the data
scaler = StandardScaler()
#fitting the Outcome
scaler.fit(x)

StandardScaler()

In [32]:
# standardizing the data_set
std_data_set= scaler.transform(x)

In [34]:
print(std_data_set)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [35]:
#reassigning variables
x = std_data_set
y = data_set["Outcome"]

In [38]:
#spliting our data for training and testing 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [42]:
#checing shape of datasets
print("original dataset:",x.shape)
print("80% of dataset for training",x_train.shape)
print("20% for dataset for testing",x_test.shape)

original dataset: (768, 8)
80% of dataset for training (614, 8)
20% for dataset for testing (154, 8)

In [49]:
#training the classifier model
classifier = svm.SVC(kernel = 'linear')
#fitting the classifier model
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [50]:
#evaluating model on training data
x_train_pred = classifier.predict(x_train)

In [52]:
#checking accuracy on training data
training_accuracy = accuracy_score(x_train_pred,y_train)

In [53]:
print(training_accuracy)

0.7866449511400652

In [55]:
#evaluating model on training data
x_test_pred = classifier.predict(x_test)

In [56]:
#checking accuracy on test data
test_accuracy = accuracy_score(x_test_pred,y_test)

In [57]:
print(test_accuracy)

0.7727272727272727